<% include ./partials/header %>

<link rel="stylesheet" type="text/css" href="/css/responsive.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900" rel="stylesheet">
<link href="/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles --> 
<link rel="stylesheet" type="text/css" href="/css/landing-page1.css">
<script type="text/javascript" src="/js/dropdown-select.js"></script>


	<title></title>

<section class="jumbotron">
  <div class="container">
  	<div class="row text-center">
  		<div class="col-lg-2"></div>
  		<div class="col-lg-8">
        <h1 class="search-header">Find Your Dream Home</h1>
        <h5>We have over millon dream properties for you</h5>
      </div>
      <div style="margin: auto;" class="search-trip">
      	<form  action="/list" method="GET" >
					<div class="row" >
						<div class="col-lg-3 col-md-6">		
							<label for="state">State</label>
								<select required id="state" name="propDetails[state]" class="custom-select mb-2 mr-sm-2 mb-sm-0" onchange="populate(this.id,'city')">
									<option value="1" selected>Maharashtra</option>
			    				<option value="2">Gujrat</option>
			    			</select>
						</div>
					<div class="col-lg-3 col-md-6">
						<label for="city">City</label>
							<select required id="city" name="propDetails[city]" class="custom-select mb-2 mr-sm-2 mb-sm-0"></select>
					</div>
					<div class="col-lg-3 col-md-6">
						<label for="status">Status</label>
							<select required id="status" name="propDetails[propStatus]" class="custom-select mb-2 mr-sm-2 mb-sm-0">
								<option value="1" selected>Rent</option>
					    	<option value="2">Sale</option>
					    </select>
					</div>
					<div class="col-lg-3 col-md-6" >
						<p><p><input type="submit"  class="btn btn-primary btn-lg" role="button" value="Search!" style="padding: 9px;margin-top: 8px;"></p></p>
					</div>
				</form>
			</div>
    <div class="col-lg-2"></div>
  </div>
</section>

<div class="container-fluid" style="margin-top: 55px;">
	<div class="section-title">
		<div class="row">
			<div class="col-md-6">
				<h3 style="margin-bottom: -05px;">Recently Added</h3>
				<h2>Properties for Sale</h2>
			</div>
			<div class="col-md-6">
				<button style="float: right;">View All</button><!--wILL NOT WORK AS RESPONSIVE-->
			</div>
				 <!-- <button style="float: right;">View All</button> wILL NOT WORK AS RESPONSIVE -->
		</div>
	</div>
	<div class="row">
		<!-- For loop for backend -->
		<% sale.forEach(function(rent){%>
		<div class="col-lg-3 col-md-6  col-xs-12" style="margin-bottom: 40px;" >
			<div class="textWithBlurredBg">
				<img src="<%= rent.img1 %>" alt="del">
					<h2>
						<a href="/list/properties/<%= rent.id%>" style="text-align: center; margin-top: auto; text-decoration: none;">View Property</a>
					</h2>
			</div>
			<div class="content" style="background-color: white; margin-bottom: 0; margin-top: 0; vertical-align: top; margin-top: -5px; padding: 15px;">
				<h3><%= sale.propTitle%></h3>
					<div class="row">
						<div class="col-md-6">
							<i class="fa fa-bed"></i>
							<span> <%= sale.propRooms%> Bedrooms</span>
						</div>
						<div class="col-md-6">
							<i class="fa fa-bath"></i>
							<span> <%= sale.bathrooms%> Bathrooms</span>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<i class="fa fa-warehouse"></i>
							<span> <%= sale.garages%> Garages</span>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<i class="fa fa-object-group"></i>
							<span> <%= sale.propArea%> SQ FT</span>
						</div>
					</div>
				</div>
			</div>
			<% }); %>
			<!-- For loop for backend ends -->	
			</div>
</div>

<!-- 
Properties fir Rent Area Starts

 -->

<div class="container-fluid" style="margin-top: 55px;">
	<div class="section-title">
		<div class="row">
			<div class="col-md-6">
				<h3 style="margin-bottom: -05px;">Recently Added</h3>
				<h2>Properties for Rent</h2>
			</div>
			<div class="col-md-6">
				<button style="float: right;">View All</button><!--wILL NOT WORK AS RESPONSIVE-->
			</div>
				 <!-- <button style="float: right;">View All</button> wILL NOT WORK AS RESPONSIVE -->
		</div>
	</div>
	<div class="row">
		<!-- For loop for backend -->
		<% rent.forEach(function(rent){%>
		<div class="col-lg-3 col-md-6  col-xs-12" style="margin-bottom: 40px;" >
			<div class="textWithBlurredBg">
				<img src="<%= rent.img1 %>" alt="del">
					<h2>
						<a href="/list/properties/<%= rent.id%>" style="text-align: center; margin-top: auto; text-decoration: none;">View Property</a>
					</h2>
			</div>
			<div class="content" style="background-color: white; margin-bottom: 0; margin-top: 0; vertical-align: top; margin-top: -5px; padding: 15px;">
				<h3><%= rent.propTitle%></h3>
					<div class="row">
						<div class="col-md-6">
							<i class="fa fa-bed"></i>
							<span> <%= rent.propRooms%> Bedrooms</span>
						</div>
						<div class="col-md-6">
							<i class="fa fa-bath"></i>
							<span> <%= rent.bathrooms%> Bathrooms</span>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<i class="fa fa-warehouse"></i>
							<span> <%= rent.garages%> Garages</span>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<i class="fa fa-object-group"></i>
							<span> <%= rent.propArea%> SQ FT</span>
						</div>
					</div>
				</div>
			</div>
			<% }); %>
			<!-- For loop for backend ends -->	
			</div>
</div>



		<script type="text/javascript" src="/js/dropdown-select.js"></script>

	
<% include ./partials/footer %>
